.wrapper {
    background-color: #f4f5f6;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
  a {
    display: block;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 15px;
    right: 15px;
    z-index: 999;
  }
  
  .navigation .header-top {
    background-color: #f72210;
  }
  
  .header-top > * {
    flex-basis: 33.3%;
  }
  
  .header-top .header-links {
    font-size: 1.1rem;
  }
  
  .header-links a:hover {
    text-decoration: none;
  }
  
  .header-links .subscribe span {
    color: #f72210;
  }
  
  .header-bottom {
    background-color: #fff;
    padding-right: 5rem;
    border-bottom: 1px solid #d9d9d9;
  }
  
  .header-bottom::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 5.5rem;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
  
  .navbar-nav .nav-item {
    flex: 1;
    flex-basis: auto;
    text-align: center;
  }
  
  .navbar-nav .nav-link {
    border-right: 1px solid #d9d9d9;
    font-size: 1.2rem;
    color: #000;
    font-weight: 800;
    padding: 0;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f72210;
  }
  
  .header-bottom .search-item {
    color: #333;
  }
  
  .nav-item .search i {
    margin-left: 0.5rem;
  }
  /* main body */
  .sect[class*='section'] {
    margin: 1rem 0;
  }

  .section .category {
    display: block;
    color: #f72210;
    text-transform: uppercase;
    font-weight: 900;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  
  .section .category .cag,
  .section .category .cag:hover {
    color: #f72210;
  }
  
  .section .feature-title {
    font-size: 1.4rem;
    padding: 0.6rem 0;
  }
  
  .section .title {
    color: #000;
    font-weight: 800;
  }
  
  .section .title:hover {
    text-decoration-color: #f72210;
  }
  
  .section .feature-summary {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 0.95rem;
    line-height: 1.2rem;
  }
  
  .section .feature-list {
    font-size: 1.1rem;
    font-weight: 800;
    padding: 0.7rem 0;
    margin: 0.7rem 0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }
  
  .section .list-link {
    color: #000;
  }
  
  .section .list-link:hover {
    color: #f72210;
    text-decoration: none;
  }
  
  header.bordered {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }
  
  .hero {
    background-color: #fff;
    transform: translateY(1.65%);
  }
  
  
  